@mixin box-shadow{
    -webkit-box-shadow: -2px 3px 34px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 3px 34px 3px rgba(0,0,0,0.75);
    box-shadow: -2px 3px 34px 3px rgba(0,0,0,0.75);
}
@mixin box-shadow-hover{
    -webkit-box-shadow: -2px 3px 34px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 3px 34px -1px rgba(0,0,0,0.75);
    box-shadow: -2px 3px 34px -1px rgba(0,0,0,0.75);
}