.projects{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    justify-content: center;
    
;
    &__title{
        transform: translate(0,-2px);
        text-align: center;
        transition: .5s all linear;
        padding: 1rem;
    }
    & div{
        background-color: rgb(141, 17, 17);
        width: 20rem;
        margin: 1.5vw;
        overflow: hidden;

        & img{
            width: 100%;
            height: 25rem;
            transition: .5s all linear;

            // image hover
            &:hover{
                // opacity: .8;
                // transform: scale(1.1);
            }

            // project image title hover effect
            &:hover + .projects__title{
                background-color:rgba(0, 0, 0, 0.719);
                color: $white;
            }
        }
    }
}