.sidebar{
    height: 10rem;
    padding: 1rem;
    width: 3rem;
    position: fixed;
    top: 40%;
    left: 0;

    &__git, &__linkedin,&__mail{
        width: 2rem;
        height: 3rem;
    }
    
}

// up arrow / button 
.scroll{
    width: 70px;
    right: 0;
    bottom: -200%;
    padding: 2rem;
    position: absolute;

    &:hover{
        cursor: pointer;
    }
}