@import url("https://fonts.googleapis.com/css?family=Satisfy");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");
* {
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.9);
  list-style: none; }

body {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif; }

@keyframes change {
  0% {
    background-color: rgba(247, 242, 242, 0.945);
    color: rgba(32, 32, 32, 0.945); }
  20% {
    background-color: rgba(36, 36, 36, 0.945);
    color: rgba(255, 255, 255, 0.945); }
  40% {
    background-color: rgba(116, 38, 38, 0.945);
    color: rgba(255, 255, 255, 0.945); }
  60% {
    background-color: rgba(57, 151, 163, 0.945);
    color: rgba(255, 255, 255, 0.945); }
  80% {
    background-color: rgba(39, 113, 131, 0.945);
    color: rgba(255, 255, 255, 0.945); }
  100% {
    background-color: rgba(247, 242, 242, 0.945);
    color: rgba(32, 32, 32, 0.945); } }

@keyframes fadeImg {
  0% {
    opacity: 1; }
  33.333% {
    opacity: 0; }
  66.666% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeImg2 {
  0% {
    opacity: 0; }
  33.333% {
    opacity: 1; }
  66.666% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes fadeImg3 {
  0% {
    opacity: 0; }
  33.333% {
    opacity: 0; }
  66.666% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.header {
  display: flex;
  height: 4rem;
  justify-content: space-between;
  align-items: flex-end; }
  .header__title {
    font-size: 1.8rem;
    font-weight: 600;
    text-align: left; }
  .header__links {
    font-size: 1rem;
    display: flex; }
    .header__links li {
      padding: 0 1rem 0 1rem; }

.intro {
  display: flex;
  width: 100%;
  height: 72vh;
  margin-top: 2rem; }
  .intro__img {
    align-items: center;
    background-image: url("../image/info.jpg");
    background-size: 100% 100%;
    margin: 2rem 0;
    background-repeat: no-repeat;
    height: 80%;
    width: 80%;
    flex: 2.5;
    filter: grayscale(100%);
    transition: .3s all linear;
    -webkit-box-shadow: -2px 3px 34px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 3px 34px 3px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 3px 34px 3px rgba(0, 0, 0, 0.75); }
    .intro__img:hover {
      filter: grayscale(20%);
      -webkit-box-shadow: -2px 3px 34px -1px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: -2px 3px 34px -1px rgba(0, 0, 0, 0.75);
      box-shadow: -2px 3px 34px -1px rgba(0, 0, 0, 0.75); }
    .intro__img--header {
      color: rgba(255, 255, 255, 0.9);
      transform: translate(40%, 250%); }
  .intro__info {
    margin: 2rem 0;
    flex: 1;
    margin: 2rem;
    font-size: 1rem; }
    .intro__info--header {
      font-size: 1.4rem; }

.projects {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  justify-content: center; }
  .projects img {
    width: 100%;
    height: 13rem;
    transition: .5s all linear; }
  .projects__sub {
    padding: 1rem; }
    .projects__sub--details {
      margin-top: 15px;
      padding: .3rem;
      text-align: left; }
  .projects__info {
    margin-top: 2rem; }
  .projects__title {
    font-size: 1.3rem;
    transition: .3s all linear; }
    .projects__title a {
      text-decoration: none; }

.flex {
  width: 20rem;
  margin: 1.5vw;
  overflow: hidden;
  border-radius: 7%;
  height: 25rem;
  box-shadow: 10px 16px 43px -11px rgba(0, 0, 0, 0.75);
  transform: translate(0, -1%);
  transition: .1s all linear;
  text-align: center; }
  .flex:hover {
    transform: translate(0, 0);
    box-shadow: 10px 16px 43px -19px rgba(0, 0, 0, 0.75); }
  .flex:hover .projects__title a {
    color: rgba(223, 25, 25, 0.911); }

.about--title {
  text-align: center;
  font-size: 2rem;
  margin: 2rem 0; }

.about {
  display: flex;
  height: 100%;
  width: 100%; }
  .about__img {
    width: 35vw;
    height: 100%;
    flex: 1;
    font-size: 2.4rem;
    transform: translate(20%, 40%); }
  .about__about {
    padding: 3rem;
    font-size: 1.4rem;
    flex: 2; }

.footer {
  margin-top: 5rem;
  text-align: center;
  font-size: 1rem; }
  .footer a {
    padding: .5rem; }

.home {
  animation: change 30s infinite linear;
  height: 100vh;
  z-index: 100;
  overflow: hidden; }
  .home__header {
    display: flex;
    justify-content: space-between; }
  .home__container {
    width: 90vw;
    margin: 0 auto; }
  .home__content {
    display: flex;
    height: 40rem;
    overflow: hidden; }
  .home__nav--links {
    display: flex;
    padding: 1rem;
    font-size: 1rem; }
    .home__nav--links li {
      padding: 0 1rem 0 1rem; }
      .home__nav--links li:hover, .home__nav--links li:active {
        color: rgba(230, 21, 21, 0.815) !important;
        cursor: pointer; }

.content--img {
  transform: translate(0, -5rem);
  width: 40vw;
  position: relative; }

.content--info {
  transform: translate(0, 20rem);
  text-align: left;
  margin-left: 3rem; }
  .content--info--header {
    font-size: 2vw; }
  .content--info--sub {
    font-size: 1.2rem; }
  .content--info--button {
    color: white;
    border: transparent;
    background-color: rgba(0, 0, 0, 0.842);
    padding: 1rem;
    font-size: 1rem; }

.logo--text {
  font-size: 2.4rem;
  font-family: 'Satisfy', cursive; }

.img--1, .img--2, .img--3 {
  position: absolute;
  width: 100%;
  height: 100%; }

.img--1 {
  background-image: url("https://static1.squarespace.com/static/ta/5134cbefe4b0c6fb04df8065/9398/assets/blocks/content/home-summer-2017/hero/music-overlay-1-1000w.png?2");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: contain;
  animation: fadeImg 24s infinite; }

.img--2 {
  background-image: url("https://static1.squarespace.com/static/ta/5134cbefe4b0c6fb04df8065/9398/assets/blocks/content/home-summer-2017/hero/real-estate-overlay-1-2500w.png?2");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: contain;
  animation: fadeImg2 24s infinite; }

.img--3 {
  background-image: url("https://static1.squarespace.com/static/ta/5134cbefe4b0c6fb04df8065/9398/assets/blocks/content/home-summer-2017/hero/wellness-overlay-1-2500w.png?2");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: contain;
  animation: fadeImg3 24s infinite; }

.sidebar {
  height: 10rem;
  padding: 1rem;
  width: 3rem;
  position: fixed;
  top: 40%;
  left: 0; }
  .sidebar__git, .sidebar__linkedin, .sidebar__mail {
    width: 2rem;
    height: 3rem; }

.scroll {
  width: 70px;
  right: 0;
  padding: 2rem;
  position: absolute; }
  .scroll:hover {
    cursor: pointer; }

@media only screen and (max-width: 800px) {
  .content--img {
    display: none; }
  .content--info--header {
    font-size: 4vw; }
  .about {
    display: flex;
    flex-direction: column; } }

@media only screen and (max-width: 600px) {
  .content--info--header {
    font-size: 6vw;
    transform: translate(0, -5rem); }
  .logo--text {
    display: none; }
  .home__nav--links {
    transform: translate(-20%, 0); }
  .footer {
    margin-top: .5rem; } }
